# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/

# PyCharm specific files
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python distribution files
*.egg
*.egg-info
dist/
build/

# Ignore log files
*.log
